@font-face {
  font-family: 'Arial';
  src: url('/fonts/arial/ARIAL.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('/fonts/arial/ARIALI.TTF') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('/fonts/arial/ARIALBD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('/fonts/arial/ARIALBI.TTF') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
